extends layout

block content
  h1 #{title}: #{book.title}
  
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:] 
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 

  if book_bookinstances.length

    p #[strong Delete the following book insances (copies) before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Instances (Copies)

      ul
        each bookinstance in book_bookinstances
          li
            a(href=bookinstance.url) #{bookinstance.book.title} : #{bookinstance.imprint}
            |  - 
            if bookinstance.status=='Available'
              span.text-success #{bookinstance.status}
            else if bookinstance.status=='Maintenance'
              span.text-danger #{bookinstance.status}
            else
              span.text-warning #{bookinstance.status}
            if bookinstance.status!='Available'
              span  (Due: #{bookinstance.due_back_formatted} )

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete